*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fc-primary: #f4f1de;
  --fc-secondary: #3d405b;
  --clr-button-primary: rgba(129, 178, 154, 1);
  --clr-button-secondary: #e07a5f;
  --clr-form: #81b29a;
  --clr-boxshadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

body {
  background: linear-gradient(
    180deg,
    rgba(129, 178, 154, 1) 0%,
    rgba(233, 237, 201, 1) 100%
  );
  color: var(--fc-primary);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 20vh;
}

form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.form-container {
  margin: 0 auto;
  width: 80%;
}

input {
  box-shadow: var(--clr-boxshadow);
  color: var(--fc-secondary);
  font-size: 0.5rem;
  width: 80%;
}

input::placeholder {
  font-size: 1.5rem;
}

form input,
form button {
  background: var(--fc-primary);
  border: none;
  font-size: 2rem;
  outline: none;
  padding: 0.5rem;
}

.input-container input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.input-container button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

form button {
  background: var(--fc-primary);
  box-shadow: var(--clr-boxshadow);
  color: var(--clr-form);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: var(--clr-form);
  color: var(--fc-primary);
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  list-style: none;
  min-width: 30%;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--fc-primary);
  border-radius: 10px;
  box-shadow: var(--clr-boxshadow);
  color: var(--fc-secondary);
  font-size: 1rem;
  margin: 0.5rem;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.trash-btn,
.complete-btn {
  background: var(--clr-form);
  border: none;
  color: var(--fc-primary);
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
}

.complete-btn {
  background: var(--clr-button-secondary);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash-alt,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  appearance: none;
  background-color: var(--fc-primary);
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: none;
  color: var(--fc-secondary);
  cursor: pointer;
  -moz-appearance: none;
  outline: none;
  padding: 1rem 1.25rem;
  -webkit-appearance: none;
  width: 10rem;
}

.select {
  border-radius: 10px;
  box-shadow: var(--clr-boxshadow);
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.select::after {
  background: var(--clr-button-secondary);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  content: '\25BC';
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: var(--fc-primary);
  color: var(--clr-button-secondary);
}
